# Eclipse
.classpath
.project
.settings/
.metadata/

# Resource Bundle
resources/messages.properties

# Compiled Java classes
*.class

# Compiled JSP files
*.class

# Build output
target/
bin/

# Dependency directories
WebContent/WEB-INF/lib/
WebContent/WEB-INF/classes/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Operating system-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# IDE workspace files
*.launch
*.cache


